:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --accent-color: #4b749b;
  --primary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 0px) {
  /* <--General--> */
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-weight: 400;
    font-size: clamp(1.6rem, 0.5rem + 4vw, 2.5rem);
  }

  h2 {
    font-weight: 300;
    font-size: clamp(0.9rem, 0.35rem + 3.5vw, 2rem);
  }

  .texts-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: clamp(1rem, 0.2rem + 2vw, 1.5rem);
    line-height: 1.5;
  }

  .illustration {
    width: clamp(15rem, 13rem + 8vw, 25rem);
  }

  /* <--Header--> */
  .logo {
    pointer-events: none;
    width: clamp(1.5rem, 1rem + 5vw, 2.7rem);
    fill: red;
  }

  p {
    font-size: clamp(0.7rem, 0.05rem + 3vw, 1.1rem);
  }

  header {
    font-family: var(--system-ui);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.8rem, 0.4rem + 2vw, 1.5rem);
    position: sticky;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    -moz-box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    transition: top 0.3s;
  }

  .header-nav {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 100%;
    gap: clamp(2rem, 1.6rem + 5vw, 3rem);
    width: 100%;
    padding: clamp(0.5rem, 0.4rem + 2vw, 1.7rem);
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    -moz-box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    box-shadow: 0px 4px 6px -3px rgba(177, 177, 177, 1);
    transition: top 0.3s;
  }

  .nav-tab,
  .nav-tab:hover,
  .nav-tab:focus,
  .nav-tab:active {
    text-decoration: none;
    color: inherit;
    transition-duration: 400ms;
  }

  .nav-tab:hover,
  .nav-tab:active {
    color: var(--accent-color);
  }

  .hamburger-menu-button {
    font-size: clamp(0.8rem, 0.5rem + 5vw, 2rem);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .visible {
    display: flex;
    animation: expand 500ms ease-in-out;
    transform-origin: top;
  }

  /* <--main--> */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--system-ui);
  }

  section {
    max-width: 1280px;
    width: 100%;
    margin: clamp(2rem, 1.8rem + 4vw, 6rem);
    padding: clamp(3rem, 2.5rem + 5vw, 3.5rem) clamp(3rem, 0.8rem + 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(4rem, 1rem + 6vw, 10rem);
  }

  /* <--home--> */

  .home-section {
    text-align: center;
  }

  .intro {
    line-height: 1.8;
    font-weight: 450;
  }

  .name {
    color: var(--accent-color);
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 1.3rem + 2vw, 2.5rem);
  }

  /* <--about--> */

  .skill-icon {
    width: clamp(4rem, 1.5rem + 5vw, 6rem);
  }

  .skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    gap: clamp(1rem, 0.2rem + 2vw, 5rem);
  }

  .skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 0.5rem + 2vw, 2rem);
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(4rem, 1rem + 5vw, 6rem);
  }

  /* <--projects--> */

  .project-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: clamp(7rem, 1rem + 13vw, 10rem);
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2rem, 0.1rem + 3vw, 5rem);
  }

  .project-texts-container {
    width: 100%;
    max-width: 640px;
  }

  .project-links-buttons-container {
    display: flex;
    gap: clamp(1rem, 0.2rem + 5vw, 2rem);
  }

  .project-link {
    text-decoration: none;
    color: inherit;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: clamp(0.2rem, 0.2rem + 1vw, 0.8rem);
    transition-duration: 200ms;
    font-size: clamp(0.7rem, 0.05rem + 3vw, 1.1rem);
  }

  .project-link:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
  }

  /* <--contact--> */

  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(4rem, 1rem + 5vw, 6rem);
    text-align: justify;
  }

  .contact-text-container {
    line-height: 1.5;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--accent-color);
  }

  .tooltiptext {
    visibility: hidden;
    width: 150%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: clamp(0.5rem, 0.1rem + 1vw, 0.7rem);
    font-size: clamp(0.5rem, 0.05rem + 2vw, 0.9rem);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    outline: none;
  }

  .tooltip:focus,
  .tooltip:hover {
    text-decoration: underline;
  }

  /* <--footer--> */

  footer {
    padding: clamp(2rem, 0.3rem + 3vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 0.2rem + 2vw, 3rem);
  }

  .footer-links-container {
    display: flex;
    gap: clamp(0.7rem, 0.2rem + 1vw, 1.1rem);
  }

  .footer-link {
    color: #000;
    transition-duration: 400ms;
  }

  .footer-link:hover {
    color: var(--accent-color);
  }

  /* <--animation--> */

  @keyframes expand {
    0% {
      transform: scaleY(0);
    }

    70% {
      transform: scaleY(1.1);
    }

    100% {
      transform: scaleY(1);
    }
  }
}

@media screen and (min-width: 1024px) {
  /* <--header--> */
  header {
    justify-content: space-around;
  }

  .header-nav {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: auto;
    box-shadow: none;
  }

  .hamburger-menu-button {
    display: none;
  }

  .home-section {
    flex-direction: row;
  }
  /* <--about--> */
  .about-container {
    flex-direction: row;
  }

  /* <--proejcts--> */
  .project-container {
    flex-direction: row;
  }

  /* <--contact--> */
  .contact-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 2000px) {
}
